.card-body {
  width: 220px;
  height: 220px;
  background-color: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #B3B3B3;
}

.card-image{
  height: 180px;
  background-image: url("http://unsplash.it/800/600?image=15");
  background-size:cover;
  position: relative;
}

.card-user {
  padding: 10px;
  display: flex;
  align-items: center:;
}

.card-user a {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  color: #3a8bbb;
  font-weight: bold;
  text-decoration: none;
}

.btn-gray {
  color: #444444;
  background-color: #F4F4F4;
  padding: 5px 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #B3B3B3;
}

.buttons-hover a {
  text-decoration: none;
  font-weight: bold;
  color: #BBBBBB;
}

.buttons-hover {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 5px;
  opacity: 0;
}

.card-body:hover .buttons-hover {
  opacity: 1;
}


